body {
    margin: 0;
    height: 0;
    border: 0;
    min-height: 100%;
    line-height: 24px;
}

body,
.quote__footer-input::placeholder,
.quote__footer-btn {
    font-family: 'Open Sans', sans-serif;
}

.main,
.quote {
    width: 1000px;
}

.main,
.instruments,
.instrument__logos,
.instrument__main,
.instrument__list-items,
.instrument__list-item,
.quote,
.quote__main,
.quote__main-title,
.quote__main-text,
.quote__footer,
.quote__footer-form {
    display: flex;
}

.main,
.instruments,
.instrument__main,
.quote,
.quote__main-text {
    flex-direction: column;
}

.main,
.instrument__logos,
.instrument__list-items,
.instrument__list-item {
    align-items: center;
}

.instruments,
.instrument__logos,
.instrument__main,
.instrument__list-items,
.quote__main,
.quote__main-title,
.quote__footer {
    justify-content: space-between;
}

.instrument__logos,
.instrument__list-items,
.instrument__list-item,
.quote__main,
.quote__main-title,
.quote__footer,
.quote__footer-form {
    flex-direction: row;
}

.instrument__list-title,
.quote__main-desc {
    color: #666666;
}

.instrument__list-title,
.quote__main-desc {
    font-size: 15px;
}

.quote__main,
.quote__footer,
.quote__footer-input,
.quote__footer-btn {
    box-sizing: border-box;
}

.quote__main-title,
.quote__footer-form {
    align-items: flex-start;
}

.quote__main-author,
.quote__footer-title,
.quote__footer-btn {
    font-weight: bold;
}

.quote__main-author,
.quote__footer-input::placeholder {
    font-size: 18px;
}

input,
button {
    outline: none;
    border: 0;
}

.main {
    margin: 0 auto;
    margin-top: 122px;
    color: #252527;
}

.instruments {
    width: 837px;
    height: 304px;
}

.instruments__title {
    font-size: 28px;
    line-height: 33px;
    width: 830px;
    align-self: center;
}

.instrument__logos {
    width: 745px;
    padding-top: 7px;
}

.instrument__logos img:nth-child(2) {
    margin-left: 17px;
}

.instrument__logos img:nth-child(3) {
    margin-left: 7px;
}

.instrument__logos:nth-child(4) {
    margin-left: 10px;
}

.instrument__main {
    height: 132.64px;
}

.instrument__list-title {
    height: 25px;
}

.instrument__list-items {
    margin-right: 1px;
    height: 62px;
}

.instrument__list-item .item-desc {
    font-size: 19px;
}

.instrument__list-item:first-child .item-desc {
    line-height: 19px;
    margin-left: 10px;
}

.instrument__list-item:nth-child(2) .item-desc {
    margin-left: 8px;
}

.instrument__list-item:nth-child(2) {
    margin-left: 12px;
}

.instrument__list-item:nth-child(3) .item-desc {
    margin-left: 10px;
    margin-bottom: 3px;
}

.quote {
    height: 555px;
    margin-top: 90px;
}

.quote__main {
    height: 475px;
    background: #F1F1F1;
    padding: 37px 26px 0 85px;
}

.quote__main-title {
    position: relative;
    width: 511px;
}

.quote__main-title .main-title-text {
    width: 404px;
    height: 123px;
    padding-top: 8px;
    font-size: 24px;
    line-height: 32px;
}

.quote__main-desc {
    width: 490px;
    height: 216px;
    word-break: break-word;
}

.quote__main-author {
    margin-top: 30px;
}

.quote__main-photo {
    align-self: flex-end;
    height: 415px;
}

.quote__footer {
    height: 80px;
    background: #9CE047;
    padding: 23px 44px 14px 40px;
}

.quote__footer-title {
    font-size: 23px;
    padding-top: 6px;
}

.quote__footer-input {
    background: #FFFFFF;
    border: 2px solid #6EA50D;
    width: 275px;
    border-radius: 2px;
    padding: 9px 12px 13px;
}

.quote__footer-input::placeholder {
    font-weight: 600;
    color: #BDBDBD;
}

.quote__footer-btn {
    background: #363636;
    border-radius: 2px;
    width: 149px;
    height: 37px;
    border: 1px solid #363636;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    margin-left: 15px;
}

@media (max-width: 1000px) {
    .main,
    .instrument__logos,
    .quote {
        width: 100%;
    }

    .instrument__logos,
    .instrument__list-items {
        flex-wrap: wrap;
    }

    .instrument__logos,
    .instrument__list-items {
        justify-content: flex-start;
    }

    .instrument__logos,
    .instrument__list-items {
        align-content: space-between;
    }

    .quote__main-desc,
    .quote__main-title .main-title-text,
    .quote__footer,
    .quote,
    .quote__main {
        height: auto;
    }

    .quote__main-desc,
    .quote__main-title .main-title-text,
    .quote__main-title,
    .instruments__title {
        width: auto;
    }

    .quote__footer-title,
    .quote__main-title {
        margin-bottom: 20px;
    }

    .instrument__list-item,
    .instrument__logos img:nth-child(n) {
        margin-right: 20px;
    }

    .quote__main,
    .quote__footer {
        flex-direction: column;
        align-items: center;
    }

    .quote__main-text,
    .instruments {
        width: calc(100% - 80px);
    }
    
    .main {
        margin-top: 60px;
    }

    .instruments {
        padding: 0 40px;
        min-height: 350px;
    }

    .instrument__main {
        min-height: 150px;
    }

    .instruments__title {
        font-size: 26px;
        line-height: 30px;
        align-self: flex-start;
    }

    .instrument__logos {
        height: 65%;
    }

    .instrument__logos img:nth-child(n) {
        margin-left: 0;
    }

    .instrument__list-items {
        margin: 0;
        height: 120px;
    }

    .quote {
        margin-top: 60px;
    }

    .quote__main {
        padding: 40px 0;
    }

    .quote__main-title {
        justify-content: space-between;
    }

    .quote__main-photo {
        display: none;
    }

    .quote__footer {
        padding: 20px 40px;
    }
}

@media (max-width: 570px) {
    .instruments,
    .instrument__main,
    .instrument__logos,
    .instrument__list-items {
        height: auto;
    }

    .instrument__logos,
    .instrument__list-items,
    .quote__footer-form {
        flex-direction: column;
    }

    .instruments {
        padding: 0 20px;
    }

    .instrument__logos {
        height: 200px;
        align-content: space-between;
    }

    .instrument__logos img,
    .instrument__list {
        margin-top: 20px;
    }

    .instrument__list-item:nth-child(n) {
        margin: 20px 0 0;
    }

    .instrument__list-items {
        align-items: flex-start;
    }

    .quote,
    .main {
        margin-top: 40px;
    }

    .quote__main {
        padding: 20px 0;
    }

    .quote__main-text,
    .instruments {
        width: calc(100% - 40px);
    }

    .quote__main-title img {
        display: none;
    }

    .quote__main-title .main-title-text,
    .quote__footer-title {
        padding: 0
    }

    .quote__main-title .main-title-text {
        padding: 0;
        font-size: 22px;
        line-height: 28px;
    }

    .quote__main-author {
        margin-top: 20px;
    }

    .quote__footer {
        padding: 20px;
    }

    .quote__footer-title {
        font-size: 22px;
        text-align: center;
    }

    .quote__footer-form {
        align-items: center;
    }

    .quote__footer-btn {
        margin-left: 0;
        margin-top: 10px;
    }
}